// fonts
$font-script: 'Satisfy';


// color 
$colors: (
    primary: #393939,
    secondary: #F5A7B8,
    terciary: black,
);


//text colors
$text-colors: (
    primary: whitesmoke,
    secondary: black,
);

// shadows and borders
$box-shadow: 5px 5px black;
$text-shadow-web: 2px 2px black;
$border: 1px solid black;