#carouselExampleDark{
    h1 {
    font-family: $font-script;
    font-size: 70px;
    color: map-get($colors, secondary);
    text-shadow: $text-shadow-web;
    text-align: center;
    }
    .carousel-caption { 
        h2 {
            font-family: $font-script;
            font-size: 60px;
            color: map-get($colors, secondary );
            text-shadow: $text-shadow-web;
            letter-spacing: 0;
            margin-bottom: -20px;   
        }
        p {
        font-size: 20px;
        color: map-get($text-colors, primary);
        text-align: center;
        text-shadow: $text-shadow-web;
        }
        .button-custom{
            margin-bottom: 150px;
            margin-left: 45%;
        }
    }
}

#homeNews{ 
   width: 100%;
   height: 500px;
   background-color: map-get($colors, secondary);
       .news-text-home {
        @include flexbox(row, center, center);
       flex-wrap: wrap;
       height: 350px;
           .news-home-card {
               width: 20%;
               height: 100%;
               background-color: map-get($colors, terciary);
               margin: 0 25px;
               padding: 20px;
               color: map-get($text-colors, primary );
               overflow: auto;
                h4 {
                    text-align: center;
                }
           }
       }

   @include media-query-mobile(){
       height: auto; 
       .news-text-home { 
           @include flexbox(row, center, center);
           flex-wrap: wrap;
           height: fit-content;
           .news-home-card {
               width: 75%;
               margin: 5px;
               height: fit-content;
               overflow: unset;
            }
        }

    }
   
}

#homeLastestMusic {
   width: 100%;
   height: 400px;
   @include flexbox(row, flex-start, center);
   flex-wrap: wrap;

       .album-cover-home {
           width: 24%;
           height: 400px;
           background-color: map-get($colors, primary);
           object-fit: cover;
           img{
               width: 100%;
               height: 400px;
               object-fit: cover;   
           }
        }

   .home-music-text {
       width: 52%;
       height: 400px;
       background-color: map-get($colors, terciary);
    }

   .new-music-cards {
       @include flexbox(row, flex-start, center);
    }
       
   .text-album {
       width: 45%;
       height: 400px;
       padding: 20px;
       font-size: 16px;
       color: map-get($text-colors, primary );
       font-weight: 400;
   }
       
   .home-music-text p{
       font-size: 16px;
       
   } 

   @include media-query-mobile(){
       width: 100%;
       height: fit-content;
       @include flexbox(column, center, center);
            .album-cover-home {
               width: 100%;
               height: 400px;
               object-fit: cover;
            }

           .home-music-text {
               width: 100%;
               height: fit-content;             
            }

           .new-music-cards {
                @include flexbox(column, center, center);
               width: 100%;
               font-size: 12px;
               overflow: visible;
            }

           .text-album {
               width: 90%;
               height: fit-content;
               padding: 10px;
               font-size: 12px;
            }
        }
}


h2 { 
   font-size: 50px;
   text-align: center;
   text-shadow: $text-shadow-web;
   color: map-get($text-colors, primary );
   padding: 25px;
   letter-spacing: 10px;
       @include media-query-mobile(){
           font-size: 35px;
           padding: 2px;
           width: fit-content;    
           margin: 0 5px;
        }
}

.button-custom {
   background-color: map-get($colors, secondary );
   font-size: 14px;
   text-align: center;
   width: fit-content;
   padding: 10px;
   z-index: 4;
   //text-shadow: 1px 1px black;
   color: map-get($text-colors, secondary );
   box-shadow: 2px 2px black;
   font-weight: 500;
}


#homeQuote {
   width: 100%;
   height: 300px;
   background-color: map-get($colors, terciary);;
   text-align: center;
   color: map-get($text-colors, primary );
   display: flex;   
   flex-direction: column;
   align-content: flex-end;
   justify-content: center;
       .quote-text{
       width: 100%;
       height: auto;
       text-align: center;
        }
        h3 {
            font-family: $font-script;
            font-size: 40px;
        }       
   @include media-query-mobile(){
       width: 100%;
       height: 300px;
       size: 12px;
           .quote-text{
               width: 100%;
               height: auto;
               text-align: center;
           } 
           h3 {    
            font-size: 30px;
           }
       }
}

#mvTable {
   width: 100%;
   background-color: map-get($colors, secondary);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
       table {
       border-bottom: 1px solid black;
       border-top: 1px solid black;
       padding: 10px;
       width: 800px;
       text-align: center;
       font-size: 16px;
           td {
               padding: 10px;
           }
       }

   .instructions-litle-box {
       font-size: 12px;
       letter-spacing: 2px;
       color: map-get($text-colors, primary );
       text-shadow: 1px 1px black;
       text-align: center;
       grid-area: instructions;
   }
   @include media-query-mobile(){
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       table {
           padding: 5px;
           width: 100%;
           text-align: left;
           font-size: 14px;
           margin: 5px 0;
               td {
                   padding: 5px;
               }
           }
       }
}

a {
    text-decoration: none;
    color: inherit;
 }