.news-mainbody {
    background-color: map-get($colors, primary);
    
    h1{
        font-size: 80px; 
        color: map-get($text-colors, primary );
        letter-spacing: 15px;
        text-shadow: 5px 5px black;
        text-align: right;
        font-weight: 500;
    }
    
    .news-cube {
        height: fit-content;
        @include flexbox(row, space-around, center);
        overflow: none;
        flex-wrap: wrap;
        .card {
            height: 500px;
            width: 30%;
            background-color: map-get($colors, primary);
            margin-bottom: 50px;
            border: none;
            h4 {
                font-family: $font-nonscript;
                font-size: 20px;
                color: map-get($text-colors, primary);
                letter-spacing: 10px;
                margin-bottom: -10px;
                text-align: left;
            }
            h5 {
                font-family: $font-script;
                font-size: 36px;
                color: map-get($text-colors, primary);
                margin-bottom: -15px;
                z-index: 2;
                text-shadow: $text-shadow-web;
            }
            .description-era{
                width: 100%;
                height: fit-content;
                padding: 12px;
                color: map-get($text-colors, secondary );
                border-top: 1px solid #F5A7B8;
                background-color: rgba(245, 167, 184, 0.8);
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        z-index: -10;
                    
                    }
                    p{
                        height: 100px;
                        overflow: hidden;
                       
                    }
            }
        }
    }

    @include media-query-mobile(){
        h1{
            font-size: 35px; 
            margin-top: 10px;
            text-align: center
        }    

        .news-cube {
            @include flexbox(column, center, center);
            .card {
                height: fit-content;
                width: 90%;
                padding: 1px;
                .description-era{
                    p{
                    height: fit-content;
                    }

                    img{
                        width: 100%;
                        height: 50%;
                        object-fit: cover;
                        z-index: -10;
                    
                    }
                }
            }
        }
    }
}
