.news-mainbody {
    background-color: map-get($colors, primary);
    
    .news-title p{
        font-size: 80px; 
        color: map-get($text-colors, primary );
        letter-spacing: 15px;
        text-shadow: 5px 5px black;
        text-align: right;
        font-weight: 500;
    }
    
    .news-cube {
    height: fit-content;
    @include flexbox(row, space-around, center);
    overflow: none;
    flex-wrap: wrap;
        .card {
            height: 400px;
            width: 30%;
            background-color: map-get($colors, primary);
            margin-bottom: 50px;
            border: none;
            .year-title {
                font-size: 20px;
                color: map-get($text-colors, primary);
                letter-spacing: 10px;
                margin-bottom: -10px;
            }
            .era-name {
                font-family: $font-script;
                font-size: 40px;
                color: map-get($text-colors, primary );
                margin-bottom: -20px;
                z-index: 2;
            }
            .description-era{
                width: 100%;
                height: fit-content;
                padding: 12px;
                color: map-get($text-colors, secondary );
                border-top: 1px solid #F5A7B8;
                background-color: rgba(245, 167, 184, 0.8);
                    img{
                        width: 100%;
                        z-index: -10;
                    
                    }

            }

        }
        
    }

    @include media-query-mobile(){
        .news-title p{
            font-size: 40px; 
            margin-top: unset;
        }    

        .news-cube {
            @include flexbox(column, center, center);

            .card {
                height: fit-content;
                width: 90%;
        
            }

           
        }
        
    }
}
